{% if page.author %}

    {% assign display_name = page.author %}

    {% assign author = site.data.authors[page.author] %}
    {% if author %}
        {% if author.display_name %}
        {% assign display_name = author.display_name %}
        {% endif %}
        {% if author.gravatar.profile %}
        {% capture display_name %}<a href="{{ author.gravatar.profile }}" target="_blank">{{ display_name }}</a>{% endcapture %}
        {% endif %}
    {% endif %}

    {{ display_name }}

{% endif %}
