
{% if include.post %}
{% assign post = include.post %}
{% else %}
{% assign post = page %}
{% endif %}

<ul class="list-inline text-2x">

    {% if post.website %}
    <li><a href="{{ post.website }}" target="_blank"><span class="glyphicon glyphicon-globe"></span> Website</a></li>
    {% else %}
    <li><span class="glyphicon glyphicon-globe"></span> Website <a class="text-muted" href="https://www.google.com/#as_q={{post.title | url_encode}}&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=lang_en&cr=&as_qdr=all&as_sitesearch=&as_occt=title&safe=images&as_filetype=&as_rights=" target="_blank"><span class="glyphicon glyphicon-search"></span></a></li>
    {% endif %}

    {% if post.shop %}
    <li><a href="{{ post.shop }}" target="_blank"><span class="glyphicon glyphicon-shopping-cart"></span> Shop</a></li>
    {% else %}
    <li><span class="glyphicon glyphicon-shopping-cart"></span> Shop <a class="text-muted" href="https://www.google.com/#as_q={{post.title | url_encode}}+shop&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=lang_en&cr=&as_qdr=all&as_sitesearch=&as_occt=title&safe=images&as_filetype=&as_rights=" target="_blank"><span class="glyphicon glyphicon-shopping-search"></span></a></li>
    {% endif %}

    {% if post.store-finder %}
    <li><a href="{{ post.store-finder }}" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> Store finder</a></li>
    {% endif %}

    {% if post.about %}
    <li><a href="{{ post.about }}" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> About</a></li>
    {% endif %}

</ul>


{% comment%}
<!--
{% if post.product-categories %}
Products:
<ul class="list-inline">
    {% for category in post.product-categories %}
    <li>
        {% if category.url %}
        <a href="{{ category.url }}" target="_blank">{{ category.name }}</a>
        {% else %}
        {{ category.name }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}


{% if post.logo %}
<p><img src="{{ post.logo }}" alt="{{ post.title }} logo" height="40" /></p>
{% elsif post.website %}
<p class="text-muted">Logo <a href="https://www.google.com/search?as_st=y&tbm=isch&as_q=logo+{{post.title | url_encode}}&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch={{ post.website | replace: 'http://', '' | replace: 'https://', ''  | replace: 'www.', '' }}&safe=images&as_filetype=&as_rights=" target="_blank"><span class="glyphicon glyphicon-search"></span></a></p>
{% endif %}


{% if post.wiki %}
<li><a href="{{ post.wiki }}" target="_blank"><span class="glyphicon glyphicon-link"></span> Wikipedia</a></li>
{% else %}
<li><span class="glyphicon glyphicon-link"></span> Wikipedia <a class="text-muted" href="https://en.wikipedia.org/w/index.php?title=Special:Search&profile=advanced&profile=advanced&fulltext=Search&search={{post.title | url_encode}}" target="_blank"><span class="glyphicon glyphicon-search"></span></a></li>
{% endif %}


{% if post.images.medium %}
<p><img src="{{ post.images.medium }}" class="img-rounded" title="{{ post.title }}" /></p>
{% endif %}
{% if post.country %}
<p>Origin: {{ post.country }}</p>
{% endif %}
<p>Links:
    {% if post.website %}<a href="{{ post.website }}" target="_blank">Website</a>{% endif %}
    {% if post.shop %}<a href="{{ post.shop }}" target="_blank">Shop</a>{% endif %}
</p>

-->
{% endcomment%}
