{% if include.src %}
{% assign src = include.src %}

{% if src contains 'http://' or src contains 'https://' %}

{% if include.src contains '.images-amazon.com/images/I/' or include.src contains '.ssl-images-amazon.com/images/I/' %}
{% assign array = include.src | split: '._' %}
{% if array.size > 1 %}
{% assign src = array[0] | append: '.jpg' %}
{% endif %}
{% if include.width %}
{% assign src = src | replace: '.jpg', '._SS' | append: include.width | append: '_.jpg' %}
{% endif %}
{% endif %}

{% else %}

{% assign src = src | prepend: site.github.url %}

{% endif %}

<img data-src="{{ src }}" class="lazyload"
{% if include.alt %} alt="{{ include.alt }}"{% endif %}
{% if include.title %} title="{{ include.title }}"{% endif %}
{% if include.class %} class="{{ include.class }}"{% endif %}
{% comment %}
{% if include.width %} width="{{ include.width }}"{% endif %}
{% if include.height %} height="{{ include.height }}"{% endif %}
{% endcomment %}
/>
{% if include.caption %}<figcaption>{{ include.caption }}</figcaption>{% endif %}

{% endif %}
