{% if include.posts.size > 0 %}

{% assign alphabet = 'a b c d e f g h i j k l m n o p q r s t u v w x y z' | split: ' ' %}

{% assign letters = '' | split: ' ' %}
{% for post in include.posts %}
{% assign letter = post.title | strip | slice: 0 | downcase %}
{% if alphabet contains letter %}
{% assign letters = letters | push: letter %}
{% endif %}
{% endfor %}

{% assign letters = letters | uniq | sort %}
<ul class="list-inline initial-links">
{% for letter in letters %}
<li><a href="#{{ letter }}">{{ letter | capitalize }}</a></li>
{% endfor %}
</ul>

{% assign letters = '' | split: ' ' %}

{% endif %}
