{% assign post = include.post %}

<div class="media"
{% for collection in site.collections %}
{% if post[collection.label] %}
data-{{ collection.label }}="{{ post[collection.label] | join: ' ' }}"
{% endif %}
{% endfor %}
 >
    <div class="pull-left">
        {% include selection-checkbox.html post=page %}
    </div>
    <div class="media-left">
        <a href="{{ post.url | prepend: site.github.baseurl }}" class="img-wrapper img-wrapper-xs -img-wrapper-cover">
            {% if post.amazon-image %}
            {% capture image-src %}{{ post.amazon-image | replace: '.jpg', '._SL80_.jpg' }}{% endcapture %}
            {% else if post.image %}
            {% assign image-src = post.image %}
            {% endif %}
            {% if image-src %}<img class="media-object" src="{{ image-src }}" alt="{{ post.title }}" />{% endif %}
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading"><a href="{{ post.url | prepend: site.github.baseurl }}">{{ post.title }}</a></h4>
        <!--{% if post.date %}<small class="post-meta text-muted">{{ post.date | date: "%b %-d, %Y" }}</small>{% endif %}-->
        {% if post.description %}<p>{{ post.description }}</p>{% endif %}
        {% include post-pros-cons.html post=post %}
    </div>
</div>
