{% if include.query %}
{% assign query = include.query %}
{% else %}
{% assign query = post.title %}
{% endif %}

{% if include.url %}
{% assign array = include.url | split: '/' %}
{% assign domain = array[2] | replace: 'www.'. '' %}
{% endif %}


<h2>Advanced search</h2>
<dl class="-dl-horizontal">
    <dt>Search "{{ query }}"</dt>
    <dd>
        <ul class="list-inline">
            <li><a href="https://www.google.com/search?hl=en&as_q={{ query | url_encode }}&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=lang_en&cr=&as_qdr=all&as_sitesearch=&as_occt=any&safe=images&as_filetype=&as_rights=" target="_blank">Google</a></li>
            {% if page.collection == 'products' or page.collection == 'types' %}<li><a class="dealer" href="https://www.amazon.com/s/?rh=n%2Cp_n_shipping_option-bin%3A3242350011%2Cp_n_is_free_international_shipping%3A10236242011%2Cp_n_condition-type%3A6461716011&field-keywords={{ query | url_encode }}" target="_blank">Amazon</a></li>{% endif %}
            {% if domain %}<li><a href="https://www.google.com/search?as_q={{ query | url_encode }}&as_sitesearch={{ domain }}" target="_blank">Official website</a></li>{% endif %}
        </ul>
    </dd>
    <dt>Search "{{ query }}" wiki</dt>
    <dd>
        <ul class="list-inline">
            <li><a href="https://www.google.com/search?hl=en&as_q={{ query | url_encode }}&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=lang_en&cr=&as_qdr=all&as_sitesearch=wikipedia.org&as_occt=any&safe=images&as_filetype=&as_rights=" target="_blank">Google</a></li>
            {% if page.collection == 'brands' or page.collection == 'purposes' or page.collection == 'types' %}<li><a href="https://en.wikipedia.org/w/index.php?title=Special:Search&profile=advanced&profile=advanced&fulltext=Search&search={{ query | url_encode}}" target="_blank">Wikipedia</a></li>{% endif %}
        </ul>
    </dd>
    <dt>Search "{{ query }}" images</dt>
    <dd>
        <ul class="list-inline">
            {% if page.collection == 'products' or page.collection == 'types' %}<li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{ query | url_encode }}+site:amazon.com+OR+site:amazon.*&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch=&safe=images&as_filetype=&as_rights=" target="_blank">Amazon</a></li>{% endif %}
            {% if domain and page.collection == 'products' %}<li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{ query | url_encode }}&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch={{ domain }}&safe=images&as_filetype=&as_rights=" target="_blank">Official website</a></li>{% endif %}
            <li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{ query | url_encode }}&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch=&safe=images&as_filetype=&as_rights=" target="_blank">Google image</a></li>
        </ul>
    </dd>
    {% if page.collection == 'brands' %}
    <dt>Search "{{ query }}" logo</dt>
    <dd>
        <ul class="list-inline">
            <li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{ query | url_encode }}+logo+site:wikipedia.org+OR+site:wikimedia.org&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch=&safe=images&as_filetype=&as_rights=" target="_blank">Wikipedia</a></li>
            {% if domain %}<li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q=logo&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch={{ domain }}&safe=images&as_filetype=&as_rights=" target="_blank">Official website</a></li>{% endif %}
            <li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{ query | url_encode }}+logo&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch=&safe=images&as_filetype=&as_rights=" target="_blank">Google images</a></li>
        </ul>
    </dd>
    {% endif %}
    {% if page.wiki-category %}
    <dt>Helpful links</dt>
    <dd>
        <ul class="list-inline">
            {% if page.wiki-category %}<li><a href="{{ page.wiki-category }}" target="_blank">In the same category</a></li>{% endif %}
        </ul>
    </dd>
    {% endif %}
</dl>
<p>There is a lot of work here. If you have new informations and few minutes, think to share with the community. Many wanderers will thank you! ^_^</p>
<a class="btn btn-primary btn-lg" href="http://prose.io/#{{site.repository}}/edit/master/{{page.path}}" target="_blank">
    <span class="glyphicon glyphicon-edit"></span> Edit this article
</a>
<p><small>(Github account required)</small></p>
