{% if include.posts.size > 0 %}
{% for post in include.posts %}

<div class="media filter-item" {% include filter-item-class.html %} >
    <div class="media-left">
        <a href="{{ post.url | prepend: site.github.url }}" class="img-wrapper img-wrapper-xs -img-wrapper-cover">
            {% if post.image %}
            {% include image.html src=post.image width=50 height=50 alt=post.title class="media-object" %}
            {% endif %}
        </a>
    </div>
    <div class="media-body">
        {% include initial-anchor.html title=post.title %}
        <h4 class="media-heading">
            <a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
        </h4>
        {% if post.date %}<small class="post-meta text-muted">{{ post.date | date: "%b %-d, %Y" }}</small>{% endif %}
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% else %}
        <p>{{ post.excerpt }}</p>
        {% endif %}

    </div>
</div>

{% endfor %}
{% endif %}
