
<div class="container-fluid">
    <div class="img-wrapper img-wrapper-sm pull-right">
        {% if page.countries.size > 0 %}
            {% assign countries = site.countries | where_exp: 'item', 'page.countries contains item.slug' %}
            {% for country in countries %}
            <span class="flag-icon flag-icon-{{ country.iso2-code | downcase }} flag-icon-squared text-lg" title="{{ country.title }}"></span>
            {% endfor %}
        {% endif %}
        {% if page.image %}
        {% include image.html path=page.image-path src=page.image width=80 height=80 alt=page.title %}
        {% endif %}
    </div>
    {% comment %}
    <ul class="list-inline pull-right">
        <li>
            <a href="http://prose.io/#{{site.repository}}/edit/master/{{page.path}}" target="_blank" title="Github account required">
            <span class="glyphicon glyphicon-edit"></span> Editor</a>
        </li>
        {% unless image-src %}
        <li>
            <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords={{ page.title | url_encode }}" target="_blank" title="Search images on Amazon">
            <span class="glyphicon glyphicon-search"></span> Image</a>
        </li>
        {% endunless %}
    </ul>
    {% endcomment %}
    <div class="-page-header clearfix">
        <div class="pull-left">
            <form class="checkbox-glyphicon checkbox-success text-2x" data-persist="garlic" method="post">
                {% include selection-checkbox.html post=page %}
            </form>
        </div>
        <div class="pull-left">
            <h1>
                {{ page.title }}
                {% if post.aliases.size > 0 %}<small>(also called {{ post.aliases | join: ', '}})</small>{% endif %}
            </h1>
            {% if page.description %}
            <p class="lead animated zoomInDown">{{ page.description }}</p>
            {% endif %}
        </div>
    </div>
</div>

{% if page.image.credit %}
<small class="image-credit text-muted">Image source:
<a href="{{ page.image.credit-link }}">{{ page.image.credit }}</a></small>
{% endif %}

{% comment%}
<!--
<p class="text-muted"><small>
    {% if page.author %}
    <span class="author">By {% include author-link.html %}</span>
    {% endif %}
    <time class="pubdate updated" datetime="{{ page.date }}" itemprop="dateCreated">{{ page.date | date: "%-d %B %Y" }}</time>
</small></p>


<div class="text__container container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <p class="text-muted">Image <a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords={{ page.title | url_encode }}" target="_blank"><span class="glyphicon glyphicon-search"></span></a></p>
            </div>
            <h1>{% include selection-checkbox.html %}{{ page.title }}</h1>
            {% if page.description %}<p class="lead">{{ page.description }}</p>{% endif %}
            <p class="meta text-muted"><small>
                {% if page.author %}
                <span class="author">by {{ page.author }} ·</span>
                {% endif %}
                <time class="pubdate updated text-muted" datetime="{{ page.date }}" itemprop="dateCreated">{{ page.date | date: "%-d %B, %Y" }}</time>
            </small></p>
        </div>
    </div>
</div>
-->
{% endcomment %}
