{% if include.post %}
{% assign post = include.post %}
{% else %}
{% assign post = page %}
{% endif %}

{% if post.dealers.size > 0 %}

{% if include.title %}
<h3>{{ include.title }}</h3>
{% endif %}
{% comment %}
<form class="form-inline" data-persist="garlic">
    <div class="form-group">
        <label for="user_country_code" class="hidden">Website</label>
        <select id="user_country_code" class="form-control input-sm select2" placeholder="Website" title="Some dealers have multiple local websites. Display the approprate link.">
            {% include select-options-country.html %}
        </select>
        <span class="help-block"></span>
    </div>
</form>
{% endcomment %}
<ul class="list-unstyled">
    {% for url in post.dealers %}
    {% assign array = url | split: '/' %}
    {% assign domain = array[2] | replace: 'www.'. '' %}
    <li><a class="dealer" href="{{ url }}" target="_blank">{{ domain }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% comment %}
<ul class="list-inline">
    <li><small>Search "{{ post.title }}" on </small></li>
    <li><small><a href="https://www.amazon.com/s/?field-keywords={{ post.title | url_encode }}" target="_blank">Amazon</a></small></li>
    <li><small><a href="https://www.google.com/search?as_q={{ post.title | url_encode }}" target="_blank">Google</a></small></li>
</ul>
{% endcomment %}
