{% if include.query %}
{% assign query = include.query %}
{% else %}
{% assign query = post.title %}
{% endif %}

{% if include.url %}
{% assign array = include.url | split: '/' %}
{% assign domain = array[2] | replace: 'www.'. '' %}
{% endif %}

<div class="well well-sm contribute">
    <h2>Quick search</h2>
    <dl class="dl-horizontal">
        <dt>Search "{{ query }}"</dt>
        <dd>
            <ul class="list-inline">
                <li><a href="https://www.google.com/search?hl=en&as_q={{ query | url_encode }}&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=lang_en&cr=&as_qdr=all&as_sitesearch=&as_occt=any&safe=images&as_filetype=&as_rights=" target="_blank">Google</a></li>
                <li><a href="https://www.google.com/search?hl=en&as_q={{ query | url_encode }}&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=lang_en&cr=&as_qdr=all&as_sitesearch=wikipedia.org&as_occt=any&safe=images&as_filetype=&as_rights=" target="_blank">Wikipedia <small>(via Google)</small></a></li>
                <li><a href="https://en.wikipedia.org/w/index.php?title=Special:Search&profile=advanced&profile=advanced&fulltext=Search&search={{ query | url_encode}}" target="_blank">Wikipedia</a></li>
                <li><a href="https://www.amazon.com/s/?field-keywords={{ query | url_encode }}" target="_blank">Amazon</a></li>
                <li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{ query | url_encode }}&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch=&safe=images&as_filetype=&as_rights=" target="_blank">Google image</a></li>
                {% if domain %}<li><a href="https://www.google.com/search?as_q={{ query | url_encode }}&as_sitesearch={{ domain }}" target="_blank">Official website</a></li>{% endif %}
            </ul>
        </dd>
        <dt>Search "{{ query }} logo"</dt>
        <dd>
            <ul class="list-inline">
                {% if domain %}<li><a href="https://www.google.com/advanced_image_search?q=logo+site:{{ domain }}" target="_blank">Official website</a></li>{% endif %}
                <li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{ query | url_encode }}+logo&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch=wikipedia.org&safe=images&as_filetype=&as_rights=" target="_blank">Wikipedia</a></li>
                <li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{ query | url_encode }}+logo&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch=wikimedia.org&safe=images&as_filetype=&as_rights=" target="_blank">Wikimedia</a></li>
                <li><a href="https://www.google.com/search?as_st=y&tbm=isch&as_q={{ query | url_encode }}+logo&as_epq=&as_oq=&as_eq=&imgsz=&imgar=&imgc=&imgcolor=&imgtype=&cr=&as_sitesearch=&safe=images&as_filetype=&as_rights=" target="_blank">Google images</a></li>
            </ul>
        </dd>
    </dl>
    <h2>Contribute</h2>
    <p>There is a lot of work here. If you have new information, be cool and take a few minutes to help the community. ^_^</p>
    <a class="btn btn-primary btn-lg" href="http://prose.io/#{{site.repository}}/edit/master/{{page.path}}" target="_blank">
        <span class="glyphicon glyphicon-edit"></span> Edit this article
    </a>
    <p><small>(Github account required)</small></p>
</div>
