{% if include.post %}
{% assign post = include.post %}
{% else %}
{% assign post = page %}
{% endif %}

{% if post.collection %}
{% assign type = post.collection %}
{% elsif post.type %}
{% assign type = post.type %}
{% endif %}

{% if post and type %}
<div class="checkbox">
    <label>
        <input class="selection-checkbox" type="checkbox" name="{{ type }}.{{ post.slug }}" title="Add to my selection" />
    </label>
</div>
{% endif %}



{% comment %}
<!--
<div class="label label-default checkbox pull-right">
    <label>
        <input type="checkbox" name="{{ post.collection }}[]" value="{{ post.slug }}" />
        Filter
    </label>
</div>
-->
{% endcomment %}
