
{% if include.collections and include.collections.size > 0 %}
{% for label in include.collections %}

{% if page[label].size > 0 %}
{% assign collection = site.collections | where: 'label', label | first %}
{% assign docs = collection.docs | where_exp: 'item', 'page[label] contains item.slug' %}

{% if docs.size > 0 %}
<h3>{{ collection.title }}</h3>
<ul class="list-inline">
{% for doc in docs %}
<li><span class="label label-default"><a href="{{ doc.url }}">{{ doc.title }}</a></span></li>
{% endfor %}
</ul>
{% endif %}

{% endif %}

{% endfor %}
{% endif %}
