
{% if include.url %}
<div data-wikipedia-url="{{ include.url }}" class="clearfix"></div>
<p class="text-muted">From Wikipedia, The Free Encyclopedia. <a href="{{ include.url }}" target="_blank">{{ include.url }}</a></p>
{% else if include.query %}
<p>
    <a class="contribute" href="https://www.google.com/search?as_q={{ include.query | url_encode }}&as_sitesearch=wikipedia.org" target="_blank">
        Search "{{ include.query }}" on Wikipedia
    </a>
</p>
{% endif %}


{% comment %}
<!--
<p>
    <span class="glyphicon glyphicon-search"></span>
    Search Wikipedia <a class="text-muted" href="https://en.wikipedia.org/w/index.php?title=Special:Search&profile=advanced&profile=advanced&fulltext=Search&search={{post.title | url_encode}}" target="_blank"></a>
</p>
-->
{% endcomment %}
