{% if post.amazom-image-id %}
{% capture image-xs-src %}http://ecx.images-amazon.com/images/I/{{ post.amazon-image-id }}._SL36_.jpg{% endcapture %}
{% capture image-sm-src %}http://ecx.images-amazon.com/images/I/{{ post.amazon-image-id }}._SL110_.jpg{% endcapture %}
{% capture image-md-src %}http://ecx.images-amazon.com/images/I/{{ post.amazon-image-id }}._SL160_.jpg{% endcapture %}
{% capture image-lg-src %}http://ecx.images-amazon.com/images/I/{{ post.amazon-image-id }}._SL250_.jpg{% endcapture %}
{% capture image-src %}http://ecx.images-amazon.com/images/I/{{ post.amazon-image-id }}.jpg{% endcapture %}
{% else if post.image %}
{% assign image-xs-src = post.image %}
{% assign image-sm-src = post.image %}
{% assign image-md-src = post.image %}
{% assign image-lg-src = post.image %}
{% assign image-src = post.image %}
{% endif %}
