---
layout: default
---
{% assign content = page.content | strip_newlines %}

{% if page.collection and page.slug %}
{% assign products = site.products | where_exp: 'item', 'item[page.collection] contains page.slug' %}
{% assign types = site.types | where_exp: 'item', 'item[page.collection] contains page.slug' %}
{% endif %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div -data-persist="garlic" -method="post">
        {% include post-header.html %}
        <div class="container-fluid">
            <div class="post-content" itemprop="articleBody">
                <ul class="nav nav-tabs -nav-justified" role="tablist">
                    <li class="active" role="tab" data-toggle="tab"><a href="#overview" data-toggle="tab">Overview</a></li>
                    {% if products.size > 0 %}<li><a href="#products" data-toggle="tab" role="tab" data-toggle="tab">Products</a></li>{% endif %}
                    {% if types.size > 0 %}<li><a href="#types" data-toggle="tab" role="tab" data-toggle="tab">Product types</a></li>{% endif %}
                    {% if purposes.size > 0 %}<li><a href="#purposes" data-toggle="tab" role="tab" data-toggle="tab">Purposes</a></li>{% endif %}
                    {% if content != '' %}<li role="tab" data-toggle="tab"><a href="#tips" data-toggle="tab">Tips</a></li>{% endif %}
                    {% if page.comments %}<li role="tab" data-toggle="tab"><a href="#comments" data-toggle="tab">{% include disqus-comment-count.html %}</a></li>{% endif %}
                    <li role="tab" data-toggle="tab" class="pull-right contribute"><a href="#contribution" data-toggle="tab">More</a></li>
                </ul>
                <div class="tab-content">

                    <div id="overview" class="tab-pane fade active in" role="tabpanel">
                        {% include brand-links.html %}
                        <div class="mediawiki-container clearfix" data-url="{{ page.wiki }}"></div>
                        <p class="mediawiki-mention text-muted">From Wikipedia, The Free Encyclopedia. <a href="{{ page.wiki }}" target="_blank">{{ page.wiki }}</a></p>
                    </div>

                    {% if types.size > 0 %}
                    <div id="types" class="tab-pane fade" role="tabpanel">
                        {% include collection-list.html posts=types type="types" %}
                    </div>
                    {% endif %}

                    {% if products.size > 0 %}
                    <div id="products" class="tab-pane fade" role="tabpanel">
                        {% include collection-list.html posts=products type="products" %}
                    </div>
                    {% endif %}

                    {% if purposes.size > 0 %}
                    <div id="purposes" class="tab-pane fade" role="tabpanel">
                        {% include collection-list.html posts=purposes type="purposes" %}
                    </div>
                    {% endif %}

                    {% if content != '' %}
                    <div id="tips" class="tab-pane fade" role="tabpanel">
                        {{ content }}
                    </div>
                    {% endif %}

                    {% if page.comments %}
                    <div id="comments" class="tab-pane fade" role="tabpanel">
                        {% include disqus-comments.html %}
                    </div>
                    {% endif %}

                    <div id="contribution" class="tab-pane fade" role="tabpanel">
                    {% include post-contribution.html query=page.title url=page.website %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>
