---
layout: default
---

{% assign content = page.content | strip_newlines %}

{% if page.collection and page.slug %}
{% assign posts = site[page.collection] | where_exp: 'item', 'item[page.collection] contains page.slug' %}

{% if page.related-collections.size > 0%}
{% assign related-collections = '' | split: ' ' %}
{% for type in page.related-collections %}
{% assign related-posts = site[type] | where_exp: 'item', 'item[page.collection] contains page.slug' %}
{% assign related-collections = related-collections | push: related-posts %}
{% endfor %}
{% endif %}

{% endif %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div -data-persist="garlic" -method="post">
        {% include post-header.html %}
        <div class="container-fluid">
            <div class="post-content" itemprop="articleBody">
                <ul class="nav nav-tabs -nav-justified" role="tablist">
                    <li class="active" role="tab" data-toggle="tab"><a href="#overview" data-toggle="tab">Overview</a></li>
                    {% if page.related-collections.size > 0 %}
                    {% for type in page.related-collections %}
                    {% if related-collections[forloop.index0].size > 0 %}
                    {% assign collection = site.collections | where: 'label', type | first %}
                    <li role="tab" data-toggle="tab"><a href="#{{ type }}" data-toggle="tab">{{ collection.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if page.wiki %}<li role="tab" data-toggle="tab"><a href="#wiki" data-toggle="tab">Wiki</a></li>{% endif %}
                    {% if content != '' %}<li role="tab" data-toggle="tab"><a href="#tips" data-toggle="tab">Tips</a></li>{% endif %}
                    {% if page.comments %}<li role="tab" data-toggle="tab"><a href="#comments" data-toggle="tab">{% include disqus-comment-count.html %}</a></li>{% endif %}
                    <li role="tab" data-toggle="tab" class="pull-right contribute"><a href="#contribution" data-toggle="tab">More</a></li>
                </ul>
                <div class="tab-content">

                    <div id="overview" class="tab-pane fade active in" role="tabpanel">
                        <div class="row">
                            <div class="col-md-4 pull-right">

                                {% comment %}
                                {% if page.dealers.size > 0 %}
                                <form class="form-inline" data-persist="garlic">
                                    <div class="form-group">
                                        <label for="user_country_code" class="hidden">Website</label>
                                        <select id="user_country_code" class="form-control input-sm select2" placeholder="Website" title="Some dealers have multiple local websites. Display the approprate link.">
                                            {% include select-options-country.html %}
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </form>
                                {% endif %}
                                {% endcomment %}

                                <ul class="nav nav-pills nav-stacked text-lg">
                                    {% if page.website %}<li><a href="{{ page.website }}" target="_blank" role="presentation"><span class="glyphicon glyphicon-globe"></span> Official website</a></li>{% endif %}
                                    {% if page.shop %}<li><a href="{{ page.shop }}" target="_blank" role="presentation"><span class="glyphicon glyphicon-shopping-cart"></span> Official shop</a></li>{% endif %}
                                    {% if page.store-finder %}<li><a href="{{ page.store-finder }}" target="_blank" role="presentation"><span class="glyphicon glyphicon glyphicon-map-marker"></span> Store finder</a></li>{% endif %}
                                    {% if page.about %}<li><a href="{{ page.about }}" target="_blank" role="presentation"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>{% endif %}

                                    {% if page.collection == 'products' and page.dealers.size > 0 %}
                                        {% for url in page.dealers %}
                                        {% assign array = url | split: '/' %}
                                        {% assign domain = array[2] | replace: 'www.'. '' %}
                                        <li><a class="dealer" href="{{ url }}" target="_blank">{{ domain }}</a></li>
                                        {% endfor %}
                                    {% endif %}

                                </ul>
                                <br/>

                                {% if page.collection == 'brands' %}
                                {% unless page.website or page.shop or page.store-finder or page.about %}
                                <div class="alert alert-info animated flipInX" role="alert">
                                    It seems that we don't have much information to fill that page. Perhaps you could start searching on <a href="https://www.google.com/search?hl=en&as_q={{ page.title | url_encode }}&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=lang_en&cr=&as_qdr=all&as_sitesearch=&as_occt=any&safe=images&as_filetype=&as_rights=" target="_blank" role="presentation">Google</a>?
                                    {% if page.aliases.size > 0 %}
                                        Think to make a search with the different namings like <strong>{{ page.aliases | join: '</strong>, <strong>'}}</strong>.
                                    {% endif %}
                                </div>
                                {% endunless %}
                                {% endif %}

                                {% if page.collection == 'products' %}
                                {% unless page.dealers.size > 0 %}
                                <div class="alert alert-info animated flipInX" role="alert">
                                    There is no listed dealers for this product. Perhaps you could start searching on <a class="dealer" href="https://www.amazon.com/s/?field-keywords={{ page.title | url_encode }}" target="_blank">Amazon</a>?
                                    {% if page.aliases.size > 0 %}
                                       Think to make a search with the different namings like <strong>{{ page.aliases | join: '</strong>, <strong>'}}</strong>.
                                    {% endif %}
                                </div>
                                {% endunless %}
                                {% endif %}

                                {% comment %}
                                {% if page.collection == 'products' %}
                                {% include product-dealers.html title='Dealers' %}
                                {% endif %}
                                {% endcomment %}

                            </div>
                            <div class="col-md-8">

                                <div class="mediawiki-excerpt">
                                </div>

                                {% include post-pros-cons.html %}

                                {% if posts.size > 0 %}
                                {% assign collection = site.collections[page.collection] %}
                                <h3>{{ collection.title }}</h3>
                                {% include collection-list.html posts=posts %}
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    {% if page.related-collections.size > 0 %}
                    {% for type in page.related-collections %}
                    {% if related-collections[forloop.index0].size > 0 %}
                    {% assign related-posts = related-collections[forloop.index0] %}
                    <div id="{{ type }}" class="tab-pane fade" role="tabpanel">
                        {% include collection-list.html posts=related-posts type=type %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    {% if page.wiki %}
                    <div id="wiki" class="tab-pane fade" role="tabpanel">
                        <div class="mediawiki-container clearfix" data-url="{{ page.wiki }}">
                        </div>
                        <p class="mediawiki-mention text-muted">From Wikipedia, The Free Encyclopedia. <a href="{{ page.wiki }}" target="_blank">{{ page.wiki }}</a></p>
                    </div>
                    {% endif %}

                    {% if content != '' %}
                    <div id="tips" class="tab-pane fade" role="tabpanel">
                        {{ content }}
                    </div>
                    {% endif %}

                    {% if page.comments %}
                    <div id="comments" class="tab-pane fade" role="tabpanel">
                        {% include disqus-comments.html %}
                    </div>
                    {% endif %}

                    <div id="contribution" class="tab-pane fade" role="tabpanel">
                        {% include post-contribution.html query=page.title %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>
