---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <form data-persist="garlic" method="post">
        {% include post-header.html %}
        <div class="container-fluid">
            <div class="post-content" itemprop="articleBody">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active"><a href="#overview" data-toggle="tab" role="tab" data-toggle="tab">Overview</a></li>
                    {% if site.types %}<li><a href="#types" data-toggle="tab" role="tab" data-toggle="tab">Product types</a></li>{% endif %}
                    {% if site.tips %}<li><a href="#tips" data-toggle="tab" role="tab" data-toggle="tab">Tips</a></li>{% endif %}
                    <li><a href="#tags" data-toggle="tab">Tags</a></li>
                </ul>
                <div class="tab-content">
                    <div id="overview" class="tab-pane fade active in" role="tabpanel">
                        {% include text.html %}
                        {% include post-pros-cons.html post=page %}
                    </div>
                    <div id="types" class="tab-pane fade" role="tabpanel">
                        {% include related-posts.html posts=site.types %}
                    </div>
                    <div id="tips" class="tab-pane fade" role="tabpanel">
                        {% include related-posts.html posts=site.tips %}
                    </div>
                    <div id="tags" class="tab-pane fade" role="tabpanel">
                        {% assign collections = 'tags categories purposes types brands users' | split: ' ' %}
                        {% include tags.html collections=collections %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</article>
