---
layout: default
---
{% assign content = page.content | strip_newlines %}

{% if page.collection and page.slug %}
{% assign brands = site.brands | where_exp: 'item', 'item[page.collection] contains page.slug' %}
{% assign purposes = site.purposes | where_exp: 'item', 'item[page.collection] contains page.slug' %}
{% endif %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div -data-persist="garlic" -method="post">
        {% include post-header.html %}
        <div class="container-fluid">
            <div class="post-content" itemprop="articleBody">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active" role="tab" data-toggle="tab"><a href="#home" data-toggle="tab">Overview</a></li>
                    {% if brands.size > 0 %}<li role="tab" data-toggle="tab"><a href="#brands" data-toggle="tab">Brand</a></li>{% endif %}
                    {% if purposes.size > 0 %}<li><a href="#purposes" data-toggle="tab" role="tab" data-toggle="tab">Purposes</a></li>{% endif %}
                    {% if page.comments %}<li role="tab" data-toggle="tab"><a href="#comments" data-toggle="tab">{% include disqus-comment-count.html %}</a></li>{% endif %}
                    <li role="tab" data-toggle="tab" class="contribute"><a href="#contribution" data-toggle="tab">Contribute</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade active in" role="tabpanel">
                        {{ content }}
                        {% include post-pros-cons.html %}
                        {% include product-dealers.html title='Dealers' %}
                    </div>

                    {% if brands.size > 0 %}
                    <div id="brands" class="tab-pane fade" role="tabpanel">
                        {% include collection-list.html posts=brands type="brands" %}
                    </div>
                    {% endif %}

                    {% if purposes.size > 0 %}
                    <div id="purposes" class="tab-pane fade" role="tabpanel">
                        {% include collection-list.html posts=purposes type="purposes" %}
                    </div>
                    {% endif %}

                    {% if page.comments %}
                    <div id="comments" class="tab-pane fade" role="tabpanel">
                        {% include disqus-comments.html %}
                    </div>
                    {% endif %}

                    <div id="contribution" class="tab-pane fade" role="tabpanel">
                    {% include post-contribution.html query=page.title %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>
