---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <form data-persist="garlic" method="post">
        {% include post-header.html %}
        <div class="container-fluid">
            <div class="post-content" itemprop="articleBody">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                    <li><a href="#tags" data-toggle="tab">Tags</a></li>
                </ul>
                <div class="tab-content">
                    <div id="overview" class="tab-pane fade active in">
                        {% include text.html %}
                    </div>
                    <div id="tags" class="tab-pane fade">
                        {% include tags.html %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</article>
