---
layout: collection-list
---
type2
<div class="row">

    <div class="col-md-4 pull-right">
        <h2><span class="glyphicon glyphicon-search"></span> Quick search</h2>
        <ul class="nav nav-pills nav-stacked">
            <li><a class="btn btn-default btn-lg" href="https://www.google.com/search?hl=en&as_q={{ page.title | url_encode }}&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=lang_en&cr=&as_qdr=all&as_sitesearch=&as_occt=any&safe=images&as_filetype=&as_rights=" target="_blank">Google</a></li>
            <li><a class="btn btn-default btn-lg" href="https://www.amazon.com/s/?field-keywords={{ page.title | url_encode }}" target="_blank">Amazon</a></li>
        </ul>
        {% if post.aliases.size > 0 %}
        <br/>
        <div class="alert alert-info" role="alert">
            <span class="pull-left text-2x glyphicon glyphicon-question-sign"></span> Think to make a search with the different namings like <strong>{{ post.aliases | join: '</strong>, <strong>'}}</strong>.
        </div>
        {% endif %}

    </div>
    <div class="col-md-8">

        {% comment %}
        {% if page.wiki %}
        {% include mediawiki.html url=page.wiki section=0 %}
        <div class="mediawiki-container clearfix" data-url="{{ page.wiki }}" data-section=0 ></div>
        <a class="mediawiki-mention" href="#wiki" data-toggle="tab">Read more...</a></li>
        {% endif %}
        {% endcomment %}

        {% if types.size > 0 or page.wiki-category %}
        <h2>{{ page.title }} subcategories</h2>
        {% if types.size > 0 %}
        {% include collection-list.html posts=types %}
        {% endif %}
        {% if page.wiki-category %}
        <p><a href="{{ page.wiki-category }}" target="_blank">{{ page.title }} categories</a> on Wikipedia.</p>
        {% endif %}
        {% endif %}

    </div>
</div>

{% comment %}
{% if page.wiki-category %}
<h2>Categories</h2>
{% include mediawiki.html url=page.wiki-category %}
{% endif %}
{% endcomment %}
